<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department List</title>
</head>
<body>
<nav>
    <a href="deplist.html">Show All Departments</a>
    <a th:href="@{/departmentform}">Add A Department</a>
</nav>
<div>
    <h2>Departments</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody th:each="dep: ${departments}">
            <tr>
                <td th:text="${dep.name}"></td>
                <td>
                    <a th:href="@{/updatedep/{id}(id=${dep.id})}">Update</a>
                    <a th:href="@{/viewdep/{id}(id=${dep.id})}">View</a>
                    <a th:href="@{/deletedep/{id}(id=${dep.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>